/* header {

} */

.up_header {
    display: flex;
    background: #474747;
    align-items: center;
    justify-content: space-between;
    padding: 10px 150px 10px 150px;
}

.up_header .contacts {
    display: flex;
    /* justify-content: center; */
}

.phone {
    background-image: url(../../assets/imgs/phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    margin-right: 6px;
    margin-top: 4px;
}

.phone_num {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #F9F9F7;
}

.email_img {
    background-image: url(../../assets/imgs/email.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    margin: 0 6px 0 25px;
    display: flex;
    align-items: center;
    margin-top: 8px;

}

.email {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #F9F9F7;
}

.up_header .soc_networks {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.icon_block {
    background: #F9F9F71F;
    width: 27px;
    height: 27px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .twitter,
.fb,
.ig,
.github {
   
} */

.twitter {
    background-image: url(../../assets/imgs/twitter.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 11px;
    height: 9px;
}

.fb {
    background-image: url(../../assets/imgs/facebook.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 6px;
    height: 12px;
}

.ig {
    background-image: url(../../assets/imgs/inst.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}

.github {
    background-image: url(../../assets/imgs/github.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
}

.down_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px 0px 150px;
    height: 105px;

}

.bistro_logo {
    display: flex;
    justify-content: space-between;
}

.bistro_logo .ramen {
    height: 55px;
    width: 55px;
    background-image: url('../../assets/imgs/ramen.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.bistro_logo h3 {
    font-family: Playfair Display;
    font-size: 42.67px;
    font-style: italic;
    font-weight: 600;
    line-height: 29.33px;
    letter-spacing: -0.40000003576278687px;
    position: relative;
    left: 14px;
    top: 13px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;

}

.navigation div {
    width: 77px;
    height: 32px;
    top: 11.5px;
    left: 554.89px;
    padding: 4px 16px 4px 16px;
    gap: 10px;
    border-radius: 34px 0px 0px 0px;

    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.right_btn {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 24px 12px 24px;
    border-radius: 118px;
    border: 1.5px solid #2C2F24
}